*{
    /*border: 1px solid #FF0000;*/
    list-style: none;
}
@font-face {
    font-family: "Menu";
    src: url("../fuentes/Inter-VariableFont_slnt\,wght.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "SPA-Todos";
    src: url("../fuentes/Romanesco-Regular.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Titulo 2";
    src: url("../fuentes/Inter-VariableFont_slnt\,wght.ttf");
    font-weight: bold;
}
/**********************Header*****************************/
header {
    background: #A3A656;
    padding: 10px 0px;
    font-family: "Menu";
    font-size: 16px;
}

#menu-header{
    display: inline-block;
    padding-left: 70px;
}
#menu-header ul{padding: 0px; margin: 15px 0px}
#menu-header ul li {padding: 0px 20px 0px 0px;}
#menu-header ul li, #menu-cuenta ul li{display: inline-block;}

#menu-cuenta{
    display: inline-block;
    float: right;
    text-align: center;
}
#menu-cuenta ul{margin: 0px;}
#menu-cuenta ul li img{
    vertical-align: middle;
    padding-right: 10px;
}
#mi-cuenta, #idioma{display: inline-block;}
#idioma p {padding-right: 5px; margin: 15px 0px}
#menu-header li a, #menu-cuenta li a {
    color: #000; 
    text-decoration: none;
}

#menu-header a:hover, #mi-cuenta a:hover, #bottom-bar a:hover{color: #FFFF00;}

/**********************Main*****************************/
#spa-todos{
    height: 800px;
    background-image: url("../images/main.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#spa-todos-text{
    position: absolute;
    margin-left: 200px;
    margin-top: 150px;
}
#spa-todos-text h1{
    margin: 20px 0px;
    font-family: "SPA-Todos";
    font-size: 96px;
}
#spa-todos-text p{
    margin: 0px;
    font-family: "Titulo 2";
    font-size: 32px;
}

/**********************Reserva*****************************/
#reserva-cita{
    background: #F2F6F6;
    padding: 4px 0px;
    font-family: "Menu";
    font-size: 16px;
}

#reserva-cita ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reserva-cita li {
    margin-right: 30px; 
}

#reserva-cita ul li input{
    width: 250px;
    height: 30px;
    font-size: 16px;
}

#reserva,
#codigo{
    border-radius:10px;
    padding:15px ;
    border: #FFF;
}

/**********************Servicios*****************************/
#servicios{
    display: flex;
    justify-content: center;
    margin: 100px 0px 50px 0px;
}
.servicio-spa{margin: 0px 67px; width: 400px;}
.servicio-spa img {width: 400px;}
.servicio-spa h2{
    text-align: center;
    color: #FFF;
    background: #A3A656;
    margin: 0px;
    padding: 25px 0px;
    border-radius: 15px 15px 0px 0px;
    font-family: "Titulo 2";
    font-size: 32px;
}
.servicio-spa p {
    font-family: sans-serif;
    font-size: 1.2rem;
}
.precio-reserva{margin: 0px;}
.precio-reserva ul{
    display: flex; 
    justify-content: 
    space-between; 
    margin: 0px;
    padding: 0px 15px;
}

.precio-reserva li p{
    font-size: 2.5rem;
    font-family: "Menu";
    font-weight: bold;
    margin: 20px 0px;
}

#reservar{
    background: #A3A656;
    border: #A3A656;
    color: #FFF;
    padding: 15px 35px;
    border-radius: 35px;
    margin: 20px 0px;
    font-size: 1.2rem;
    font-weight: bold;
}

#reservar:hover, 
#ver-condiciones:hover{
    background: #384001;
}
/**********************Planes*****************************/
#planes-socio{
    text-align: center;
    background: #F2F6F6;
    padding: 38px 0px 74px 0px;
}
#planes-socio h2{
    font-family: "Titulo 2";
    font-size: 32px;
    margin: 26px 0px 70px 0px;

}
#planes-socio article{
    display: inline-block;
    vertical-align: top;
    padding: 0px 30px;
}
#ver-condiciones{
    background: #A3A656;
    border: #A3A656;
    color: #FFF;
    font-size: 1.1rem;
    font-family: "Menu";
    font-weight: bold;
    padding: 25px 100px;
    border-radius: 35px;
    margin: 15px 0px;
    
}
#planes-socio article{
    margin: 0px 50px;
}
#planes-socio p{
    font-family: "Titulo 2";
    font-size: 32px;
    margin: 10px 0px;
}
.plan-image{
    transform: translateX(50px);
    padding: 0px;
    width: 233px;
    height: 233px;
    background: #FFF;
    border-radius: 50%;
    border: 11px solid #384001;
}
.img-condiciones img{
    padding-top: 40px;
    width: 8rem;
}
.img-condiciones{padding: 0px;}
.beneficios{padding-left: 7rem;}
.beneficios li{
    list-style: disc;
    text-align: left;
    font-family: "Menu";
    font-size: 16px;
}

/**********************Bottom bar*****************************/
#bottom-bar{
    background: #384001;
    text-decoration: none;
    font-family: "Menu";
    font-size: 16px;
}

#condiciones-legales{
    display: inline-block;
}
#condiciones-legales ul{
    padding-left: 70px;
    margin: 38.5px 0px;
}
#condiciones-legales ul li{
    display: inline-block;
    padding-right: 9rem;
}
#condiciones-legales a{
    color: #A3A656;
    text-decoration: none;
}

#redes{
    color: #A3A656;
    display: inline-block;
    float: right;
    text-align: center;
    margin: 22.5px 0px;
}
#redes ul{
    margin: 0px;
    padding-right: 20px;
}
#redes ul li{
    display: inline-block;
    vertical-align: middle;
    padding-right: 2rem;
}